<a href="/home">Home</a>
<h2>Edit Restaurant</h2>
<input placeholder="Name" ng-model="vm.Place.name"/>
Restaurant Type:<select ng-model="vm.Place.type">
    <option   value="American"/>American</option>
    <option   value="Chinese"/>Chinese</option>
    <option   value="Japanese"/>Japanese</option>
    <option   value="Mediterranean"/>Mediterranean</option>
    <option   value="Mexican"/>Mexican</option>
  </select>

  Restaurant Style:<select ng-model="vm.Place.style">
      <option   value="Full Service"/>Full Service</option>
      <option  value="Counter Service"/>Counter Service</option>
      <option value="Fast Food"/>Fast Food</option>
    </select>

    Overall Rating:<select ng-model="vm.Place.rating">
        <option  value="1"/>1</option>
        <option   value="2"/>2</option>
        <option   value="3"/>3</option>
          <option   value="4"/>4</option>
            <option  value="5"/>5</option>
      </select>
      Food Rating:<select  ng-model="vm.Place.food">
          <option   value="1"/>1</option>
          <option  value="2"/>2</option>
          <option  value="3"/>3</option>
          <option  value="4"/>4</option>
              <option  value="5"/>5</option>
        </select>

       Service:<select ng-model="vm.Place.service">
            <option   value="1"/>1</option>
            <option   value="2"/>2</option>
            <option   value="3"/>3</option>
              <option   value="4"/>4</option>
                <option   value="5"/>5</option>
          </select>

          Atmosphere:<select ng-model="vm.Place.decor">
               <option  value="1"/>1</option>
               <option   value="2"/>2</option>
               <option   value="3"/>3</option>
                 <option   value="4"/>4</option>
                   <option   value="5"/>5</option>
             </select>
<input placeholder="Comments" ng-model="vm.Place.comment"/>
<button ng-click="vm.save()">Submit</button>
