<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Smart Dine</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Login</a></li>
      <li><a href="/register">Register</a></li>
        <li><a href="/admin">Admin</a></li>

    </ul>
  </div>
</nav>

  <div id="addeditbox">

<h2>Edit Restaurant</h2>

<input id="blacktext" color="black" placeholder="Name" ng-model="vm.Place.name"/>
<hr>
Restaurant Type:<select id="blacktext" ng-model="vm.Place.type">
    <option   value="American"/>American</option>
    <option   value="Chinese"/>Chinese</option>
    <option   value="Japanese"/>Japanese</option>
    <option   value="Mediterranean"/>Mediterranean</option>
    <option   value="Mexican"/>Mexican</option>
  </select>

  Restaurant Style:<select id="blacktext" ng-model="vm.Place.style">
      <option   value="Full Service"/>Full Service</option>
      <option  value="Counter Service"/>Counter Service</option>
      <option value="Fast Food"/>Fast Food</option>
    </select>
<hr>
    Overall Rating:<select id="blacktext" ng-model="vm.Place.rating">
        <option  value="1"/>1</option>
        <option   value="2"/>2</option>
        <option   value="3"/>3</option>
          <option   value="4"/>4</option>
            <option  value="5"/>5</option>
      </select>
      Food Rating:<select id="blacktext"  ng-model="vm.Place.food">
          <option   value="1"/>1</option>
          <option  value="2"/>2</option>
          <option  value="3"/>3</option>
          <option  value="4"/>4</option>
              <option  value="5"/>5</option>
        </select>

       Service:<select id="blacktext" ng-model="vm.Place.service">
            <option   value="1"/>1</option>
            <option   value="2"/>2</option>
            <option   value="3"/>3</option>
              <option   value="4"/>4</option>
                <option   value="5"/>5</option>
          </select>

          Atmosphere:<select id="blacktext" ng-model="vm.Place.decor">
               <option  value="1"/>1</option>
               <option   value="2"/>2</option>
               <option   value="3"/>3</option>
                 <option   value="4"/>4</option>
                   <option   value="5"/>5</option>
             </select>
             <hr>
<input id="blacktext" size="50" placeholder="Comments" ng-model="vm.Place.comment"/>

<hr>
<button id="blacktext" ng-click="vm.save()">Submit</button>
</div>
