
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/home">Smart Dine</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Login</a></li>
      <li><a href="/register">Register</a></li>
        <li><a href="/admin">Admin</a></li>

    </ul>
  </div>
</nav>
<div id="homebox">
<h1 id="hometext">Smart Dine</h1>

<p id="hometext">
    Read, Post, Eat Well
</p>
<p id="hometext"> Choose your craving and let your journey to a happy stomach begin</p>
<a href="/place/American" id="bluelink">American</a>
<a href="/place/Chinese" id="bluelink">Chinese</a>
<a href="/place/Japanese"id="bluelink">Japanese</a>
<a href="/place/Mediterranean" id="bluelink">Mediterranean</a>
<a href="/place/Mexican" id="bluelink">Mexican</a>
</div>
